body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #add8e6; /* Açık mavi arka plan rengi */
}

form {
  margin: 20px auto;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff; /* Formun arka plan rengini beyaz yapar */
}

input,
button {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
